body {
    margin: 0;
    height: 100vh;
}

myscript-text-web {
    height: 100%;
}

myscript-text-candidates {
    font-size: x-large;
}

nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
